## LAB 09 | REDES
Martín España y Laura Tamath

In [1]:
import json
import pandas as pd

# Parte 1 – Filtrado y preprocesamiento 
Cargue  la  información  del  archivo  large_eve.json  en  una  lista,  muestre  la  cantidad  de registros total (deben ser 746, 909). Este es nuestro tráfico inicial!

In [2]:
# data = [json.loads(line) for line in open('large_eve.json', 'r', encoding='UTF-8')]
data = pd.read_json('large_eve.json',  encoding='UTF-8', lines= True)

In [3]:
len(data)

746909

In [4]:
data

,timestamp,flow_id,pcap_cnt,event_type,vlan,src_ip,src_port,dest_ip,dest_port,proto,...,vars,flow,icmp_type,icmp_code,tcp,smtp,email,app_proto_tc,app_proto_ts,stats
0,2017-07-22T17:33:15.784100-0500,2.835707e+14,18519.0,alert,130.0,192.168.203.200,2328.0,192.181.145.109,445.0,TCP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-07-22T17:33:16.571273-0500,1.519048e+15,21531.0,ssh,140.0,192.168.204.60,62990.0,192.168.26.254,22.0,TCP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-07-22T17:33:16.661646-0500,1.327836e+15,22269.0,dns,110.0,2001:0dbb:0c18:0011:0260:6eff:fe30:0863,59680.0,2001:0500:0001:0000:0000:0000:803f:0235,53.0,UDP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-07-22T17:33:17.561063-0500,9.632021e+14,28731.0,http,140.0,192.168.204.59,38011.0,192.168.24.201,80.0,TCP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-07-22T17:33:17.595416-0500,9.632021e+14,28994.0,fileinfo,140.0,192.168.24.201,80.0,192.168.204.59,38011.0,TCP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746904,2017-07-22T19:47:49.301548-0500,1.970284e+15,NaN,flow,NaN,192.168.203.200,2007.0,192.183.45.157,445.0,TCP,...,NaN,"{'pkts_toserver': 2, 'pkts_toclient': 0, 'byte...",NaN,NaN,"{'tcp_flags': '02', 'tcp_flags_ts': '02', 'tcp...",NaN,NaN,NaN,NaN,NaN
746905,2017-07-22T19:47:49.301548-0500,2.251792e+15,NaN,flow,NaN,192.168.198.57,52498.0,192.168.21.141,22.0,TCP,...,NaN,"{'pkts_toserver': 2, 'pkts_toclient': 0, 'byte...",NaN,NaN,"{'tcp_flags': '02', 'tcp_flags_ts': '02', 'tcp...",NaN,NaN,NaN,NaN,NaN
746906,2017-07-22T19:47:49.301548-0500,8.444188e+14,NaN,flow,NaN,192.168.201.72,57805.0,192.168.26.225,80.0,TCP,...,NaN,"{'pkts_toserver': 6, 'pkts_toclient': 6, 'byte...",NaN,NaN,"{'tcp_flags': '1b', 'tcp_flags_ts': '1b', 'tcp...",NaN,NaN,NaN,NaN,NaN
746907,2017-07-22T19:47:49.301548-0500,2.814688e+14,NaN,flow,NaN,192.168.201.72,43004.0,192.168.26.225,80.0,TCP,...,NaN,"{'pkts_toserver': 6, 'pkts_toclient': 6, 'byte...",NaN,NaN,"{'tcp_flags': '1b', 'tcp_flags_ts': '1b', 'tcp...",NaN,NaN,NaN,NaN,NaN
746908,2017-07-19T17:39:33.004305-0400,NaN,NaN,stats,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'uptime': 120, 'decoder': {'pkts': 4465786, '..."

Debido a que estamos buscando dominios DGA, del total de registros, solamente estamos interesados  en  los  registros  DNS.  Cargue  únicamente  aquellos  registros  en  cuya  llave  se encuentra “DNS”

In [5]:
data = data.drop(data[data.event_type != 'dns'].index)

Muestre  la  nueva  cantidad  de  registros  filtrados.  Deben  ser  15749.  Esta  es  una  cantidad mucho más manejable, pero aún se debe seguir depurando la información a buscar

In [6]:
len(data)

15749

Muestre la información de 2 registros cualesquiera.

In [7]:
data.sample(2)

,timestamp,flow_id,pcap_cnt,event_type,vlan,src_ip,src_port,dest_ip,dest_port,proto,...,vars,flow,icmp_type,icmp_code,tcp,smtp,email,app_proto_tc,app_proto_ts,stats
455739,2017-07-22T19:29:19.475389-0500,1.312632e+15,3355644.0,dns,150.0,192.168.207.4,53.0,192.168.205.188,37521.0,UDP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
457120,2017-07-22T19:29:19.315758-0500,4.162277e+14,3355254.0,dns,150.0,192.168.207.4,53.0,192.168.205.188,46163.0,UDP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Debido a que la data consiste en json anidados, utilice la característica json_normalize para normalizar la información y asignarla en un dataframe.

In [8]:
data

,timestamp,flow_id,pcap_cnt,event_type,vlan,src_ip,src_port,dest_ip,dest_port,proto,...,vars,flow,icmp_type,icmp_code,tcp,smtp,email,app_proto_tc,app_proto_ts,stats
2,2017-07-22T17:33:16.661646-0500,1.327836e+15,22269.0,dns,110.0,2001:0dbb:0c18:0011:0260:6eff:fe30:0863,59680.0,2001:0500:0001:0000:0000:0000:803f:0235,53.0,UDP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,2017-07-22T17:33:24.990320-0500,2.022925e+15,54352.0,dns,110.0,2001:0dbb:0c18:0011:0260:6eff:fe30:0863,38051.0,2001:0500:0003:0000:0000:0000:0000:0042,53.0,UDP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,2017-07-22T17:33:27.379891-0500,5.785448e+14,54519.0,dns,150.0,192.168.205.170,31393.0,192.168.207.4,53.0,UDP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,2017-07-22T17:33:27.380146-0500,5.785448e+14,54520.0,dns,150.0,192.168.207.4,53.0,192.168.205.170,31393.0,UDP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,2017-07-22T17:33:27.380146-0500,5.785448e+14,54520.0,dns,150.0,192.168.207.4,53.0,192.168.205.170,31393.0,UDP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716752,2017-07-22T19:47:03.373435-0500,8.918761e+14,4441474.0,dns,120.0,192.168.207.4,53.0,192.168.202.172,60654.0,UDP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716753,2017-07-22T19:47:03.373435-0500,8.918761e+14,4441474.0,dns,120.0,192.168.207.4,53.0,192.168.202.172,60654.0,UDP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716893,2017-07-22T19:47:38.146503-0500,2.199316e+15,4452917.0,dns,130.0,192.168.203.67,50975.0,192.168.207.4,53.0,UDP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716894,2017-07-22T19:47:38.146953-0500,2.199316e+15,4452918.0,dns,130.0,192.168.207.4,53.0,192.168.203.67,50975.0,UDP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716895,2017-07-22T19:47:38.146953-0500,2.199316e+15,4452918.0,dns,130.0,192.168.207.4,53.0,192.168.203.67,50975.0,UDP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Como  estamos  buscando  dominios  DGA,  debemos  filtrar  los  registros  DNS  para  aquellos registros tipo A (son aquellos que mantienen una dirección IP asociada a un dominio), se debió bajar la cantidad a 2849 registros.

In [9]:
from pandas.io.json import json_normalize

registros_dns = [json.loads(record) for record in open('large_eve.json').readlines() if 'dns' in record]
df = json_normalize(registros_dns)
dga = df[df['dns.rrtype']==('A')][['dns.rrname','dns.rrtype']]
len(dga)

C:\Users\laury\AppData\Local\Temp\ipykernel_8852\1166767984.py:4: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  df = json_normalize(registros_dns)

2849

Filtre los dominios únicos y asígnelos a un dataframe. Debe obtener 177 registros únicos.

In [10]:
unique_records_domain = dga['dns.rrname'].unique()
len(unique_records_domain)

177

Del dataframe de dominios únicos de tipo A, obtenga el TLD (top level domain) utilizando Flare como una columna nueva llamada domain_tld, y elimine todas las demás columnas.

In [11]:
from flare.data_science.features import domain_tld_extract

tld_list = []

for item in dga['dns.rrname']:
    new_tld = domain_tld_extract(item)
    tld_list.append(new_tld)

dga = dga.assign(domain_tld=tld_list)

dga

,dns.rrname,dns.rrtype,domain_tld
0,api.wunderground.com,A,wunderground.com
1,stork79.dropbox.com,A,dropbox.com
2,hpca-tier2.office.aol.com.ad.aol.aoltw.net,A,aoltw.net
5,api.wunderground.com,A,wunderground.com
6,safebrowsing.clients.google.com.home,A,safebrowsing.clients.google.com.home
...,...,...,...
21272,secure.informaction.com.hsd1.pa.comcast.net,A,comcast.net
21276,192.168.22.201:.stayonline.net,A,192.168.22.201:.stayonline.net
21285,wpad.aol.aoltw.net,A,aoltw.net
21297,client-software.real.com,A,real.com
21303,en-us.start3.mozilla.com,A,mozilla.com

 Busque  y  elimine un  dominio  que  es  un  carácter  vacío  ‘’.  También  elimine  los  siguientes dominios

- 192.168.22.110phpmyadmin
- 192.168.22.110phpmyadmin.localdomain 
- "192.168.206.56" 
- 192.168.26-27.0 
- 192.168.21.1201
- 1922.168.22.254 
- 1922.168.22.254.home 
- 192.168.21-28.0.home 
- 192.168.22.201:
- 192.168.22.201:.stayonline.net

In [12]:
itemsToDrop = ['', '192.168.22.110phpmyadmin', '192.168.22.110phpmyadmin.localdomain',
                '"192.168.206.56"', '192.168.26-27.0', '192.168.21.1201', '1922.168.22.254',
                '1922.168.22.254.home', '192.168.21-28.0.home', '192.168.22.201:',
                '192.168.22.201:.stayonline.net']

for j in itemsToDrop:
    dga = dga.drop(dga[dga['domain_tld'] == j].index)

dga

,dns.rrname,dns.rrtype,domain_tld
0,api.wunderground.com,A,wunderground.com
1,stork79.dropbox.com,A,dropbox.com
2,hpca-tier2.office.aol.com.ad.aol.aoltw.net,A,aoltw.net
5,api.wunderground.com,A,wunderground.com
6,safebrowsing.clients.google.com.home,A,safebrowsing.clients.google.com.home
...,...,...,...
21263,whitecell.localdomain,A,whitecell.localdomain
21272,secure.informaction.com.hsd1.pa.comcast.net,A,comcast.net
21285,wpad.aol.aoltw.net,A,aoltw.net
21297,client-software.real.com,A,real.com
21303,en-us.start3.mozilla.com,A,mozilla.com

Obtenga los TLD únicos, debe obtener 102 registros

In [13]:
unique_records_domain = dga['dns.rrname'].unique()
len(unique_records_domain)

166

# Parte 2 – Data Science

Utilice  el  clasificador  proporcionado,  debe  pasarle  como  parámetro  el  dataframe  con  la columna domain_tld, y asignar el resultado a un nuevo data.

In [14]:
from clasificador import *

daDF = pd.DataFrame(unique_records_domain)
daDF.rename(columns={0: 'domain_tld'}, inplace=True)

newData = clasificacion(daDF)
newData
# daDF

C:\Users\laury\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\base.py:329: UserWarning: Trying to unpickle estimator DecisionTreeClassifier from version 1.0.2 when using version 1.1.3. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

                                      domain_tld  isDGA
0                           api.wunderground.com      1
1                            stork79.dropbox.com      1
2     hpca-tier2.office.aol.com.ad.aol.aoltw.net      0
3           safebrowsing.clients.google.com.home      0
4                            fxfeeds.mozilla.com      1
..                                           ...    ...
161  aoldtcmds01.office.aol.com.ad.aol.aoltw.net      1
162                   ntp.ubuntu.com.localdomain      1
163             redir.metaservices.microsoft.com      0
164                            ocsp.verisign.com      0
165                     client-software.real.com      0

[166 rows x 2 columns]

Filtre aquellos considerados como DGA (valor 1 ) y muéstrelos. Recuerde que los modelos de ML ofrecen una predicción, pero los resultados pueden ser falsos positivos y falsos negativos, por  lo  que  no  podemos  fiarnos  por  completo  de  esta  clasificación  y  debemos  seguir indagando. Ahora tenemos solo 35 dominios sospechosos!

In [15]:
filteredDga = newData[newData['isDGA'] == 1]
filteredDga

                                      domain_tld  isDGA
0                           api.wunderground.com      1
1                            stork79.dropbox.com      1
4                            fxfeeds.mozilla.com      1
6                     aolmtcmxm03.office.aol.com      1
7    aolmtcmxm02.office.aol.com.ad.aol.aoltw.net      1
..                                           ...    ...
158                              192.168.21-28.0      1
159                         ejfodfmfxlkgifuf.xyz      1
160                   aoldtcmds01.office.aol.com      1
161  aoldtcmds01.office.aol.com.ad.aol.aoltw.net      1
162                   ntp.ubuntu.com.localdomain      1

[70 rows x 2 columns]

# Parte 3 – Dominio experto

Utilizando la lista de Cisco Umbrella incluido en Flare, indique si los dominios encontrados por el  clasificador  DGA de  la  parte  2  se  encuentran  en  este  top  1000000. Deberíamos  haber reducido los registros a 12!

In [17]:
umbrellaList = pd.read_csv('flare/data/umbrella/top-1m.csv')
umbrellaList.rename(columns={'netflix.com': 'domain'}, inplace=True)

filteredDga['matches'] = filteredDga['domain_tld'].isin(umbrellaList['domain'])

filteredDga
# print(type(umbrellaList['domain'][0]))
# print(type(filteredDga['domain_tld'][0]))

#matches = []

# for i in range(len(filteredDga)):
#   for j in range(len(umbrellaList)):
#     if (filteredDga['domain_tld'][i] == umbrellaList['domain'][j]):
#       matches.append(filteredDga['domain_tld'][i])

#matches

C:\Users\laury\AppData\Local\Temp\ipykernel_8852\2786302191.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filteredDga['matches'] = filteredDga['domain_tld'].isin(umbrellaList['domain'])

                                      domain_tld  isDGA  matches
0                           api.wunderground.com      1     True
1                            stork79.dropbox.com      1    False
4                            fxfeeds.mozilla.com      1     True
6                     aolmtcmxm03.office.aol.com      1    False
7    aolmtcmxm02.office.aol.com.ad.aol.aoltw.net      1    False
..                                           ...    ...      ...
158                              192.168.21-28.0      1    False
159                         ejfodfmfxlkgifuf.xyz      1    False
160                   aoldtcmds01.office.aol.com      1    False
161  aoldtcmds01.office.aol.com.ad.aol.aoltw.net      1    False
162                   ntp.ubuntu.com.localdomain      1    False

[70 rows x 3 columns]

In [20]:
trueDGA = filteredDga[filteredDga['matches'] == True]

len(trueDGA)
trueDGA

                     domain_tld  isDGA  matches
0          api.wunderground.com      1     True
4           fxfeeds.mozilla.com      1     True
21              ueip.vmware.com      1     True
27   www.offensive-security.com      1     True
29          www.stopbadware.org      1     True
33      www.backtrack-linux.org      1     True
46           www.phpmyadmin.net      1     True
47             tools.google.com      1     True
55               ntp.ubuntu.com      1     True
58           www.postgresql.org      1     True
60              www.freepbx.org      1     True
63                  www.gnu.org      1     True
66               www.google.com      1     True
69                  freepbx.org      1     True
71             www.acunetix.com      1     True
73   download.windowsupdate.com      1     True
74     www.update.microsoft.com      1     True
75               api.flickr.com      1     True
77       download.microsoft.com      1     True
83        www.securityfocus.com      1     True
84              sync.xmarks.com      1     True
90          mirrors.cat.pdx.edu      1     True
104       mirrors.liquidweb.com      1     True
123               www.apple.com      1     True
125            cloud.xmarks.com      1     True
135             news.google.com      1     True
136           gdata.youtube.com      1     True
138            dns.msftncsi.com      1     True
141            www.msftncsi.com      1     True
146              www.arduino.cc      1     True
149              gfe.nvidia.com      1     True
152               idisk.mac.com      1     True
153              www.nagios.org      1     True

Si son considerados por el clasificador como DGA, y no están en el top de Cisco Umbrella es muy probable que sean maliciosos. Para confirmar esto podemos buscar la fecha de creación del dominio. Cree una función qué en base al dominio, devuelva la fecha de creación de este (utilice la librería whois para esto).

In [21]:
import whois

result = []
malicious = []

for value in trueDGA['domain_tld']:
    creationDate = whois.whois(value).creation_date
    
    if type(creationDate) is list:
        result.append((creationDate[0].strftime('%m/%d/%Y')))
        malicious.append(value)

    elif creationDate is None:
        result.append('None')
        malicious.append(value)

    else:
        result.append((creationDate).strftime('%m/%d/%Y'))


trueDGA['creation_date'] = result

C:\Users\laury\AppData\Local\Temp\ipykernel_8852\3775004429.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trueDGA['creation_date'] = result

Muestre la fecha de creación para cada uno de los dominios clasificados como DGA. ¿Cuáles son los dominios que podemos confirmar como sospechosos? (Deben ser cinco dominios)

In [22]:
trueDGA

                     domain_tld  isDGA  matches creation_date
0          api.wunderground.com      1     True    03/30/1995
4           fxfeeds.mozilla.com      1     True    10/18/1994
21              ueip.vmware.com      1     True    01/30/1998
27   www.offensive-security.com      1     True    09/24/2006
29          www.stopbadware.org      1     True    12/14/2005
33      www.backtrack-linux.org      1     True    04/29/2009
46           www.phpmyadmin.net      1     True    04/02/2002
47             tools.google.com      1     True    09/15/1997
55               ntp.ubuntu.com      1     True    05/29/2004
58           www.postgresql.org      1     True    10/22/1996
60              www.freepbx.org      1     True    10/11/2005
63                  www.gnu.org      1     True    11/24/1995
66               www.google.com      1     True    09/15/1997
69                  freepbx.org      1     True    10/11/2005
71             www.acunetix.com      1     True    10/27/2004
73   download.windowsupdate.com      1     True    07/22/1997
74     www.update.microsoft.com      1     True    05/02/1991
75               api.flickr.com      1     True    11/22/2003
77       download.microsoft.com      1     True    05/02/1991
83        www.securityfocus.com      1     True    01/30/1999
84              sync.xmarks.com      1     True    12/29/2003
90          mirrors.cat.pdx.edu      1     True          None
104       mirrors.liquidweb.com      1     True    08/05/1997
123               www.apple.com      1     True    02/19/1987
125            cloud.xmarks.com      1     True    12/29/2003
135             news.google.com      1     True    09/15/1997
136           gdata.youtube.com      1     True    02/15/2005
138            dns.msftncsi.com      1     True    11/10/2005
141            www.msftncsi.com      1     True    11/10/2005
146              www.arduino.cc      1     True    10/26/2005
149              gfe.nvidia.com      1     True    04/20/1993
152               idisk.mac.com      1     True    11/18/1996
153              www.nagios.org      1     True    05/03/2001

Los dominios DGA son conocidos por formarse de forma aleatoria: secuencias aleatorias de caracteres, no palabras. Indique que dominios sospechosos tienen este patrón y que pueden confirmarse como dominios DGA (deben ser dos).

In [24]:
malicious = trueDGA[(trueDGA['creation_date'] == 'None')]
malicious

             domain_tld  isDGA  matches creation_date
90  mirrors.cat.pdx.edu      1     True          None